body{
    background-color: #efefef;
}

#inhoud{
    position: absolute;
    right:0px;
    padding-right:1em;
    width:70%;
}

#navigatie{
    position: fixed;
    left:0px;
    padding-left:1em;
    padding-right:0.5em;
    width:30%
}

.keyboard-key{
    color:black;
}

.extraInfo{
    margin:3em;
    padding:1em;
    border-radius:8px;
    background-color: #fff0f0;
    color:darkblue;
    text-align: center;
}
.PerceelBox { 
  position: relative; 
  top: 2em; 
  left: -7em; 
  right: -25em; 
  bottom: 10em; 
  height: auto; 
  width: 129px; 
  padding: 4px 0px 5px 3px; 
  margin: 2px auto 0px auto; 
  display: block; 
  background: #FFFFFF; 
  font-size: 14pt; 
  color: #008A8E; 
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace; 
  border-top: 2px; 
  border-left: 2px; 
  border-right: 2px; 
  border-bottom: 2px; 
  border-color: #000000; 
  border-style: solid; 
  border-radius: 0px 15px 15px 15px; 
}
