body{
    background-color: #efefef;
}

#inhoud{
    position: absolute;
    right:0px;
    padding-right:1em;
    width:70%;
}

#navigatie{
    position: fixed;
    left:0px;
    padding-left:1em;
    padding-right:0.5em;
    width:30%
}

.keyboard-key{
    color:black;
}

.extraInfo{
    margin:3em;
    padding:1em;
    border-radius:8px;
    background-color: #fff0f0;
    color:darkblue;
}

.PerceelBox { 
  padding: 1px 5px;
  margin:1px;
  background-color: rgba(0,138,142,0.1); 
  color: rgba(0,138,142,1); 
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace; 
  border: 1px solid rgba(0,138,142,1);
  border-radius: 0px 15px 15px 15px; 
}

.Voorbeeld {
    title="voorbeeld">{{samp|{{{1}}}}};
    font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

.VeldBox {
  padding: 1px 5px;
  margin:1px;
  background-color: rgba(0,0,255,0.2); 
  color: rgba(0,0,255,1); 
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace; 
  border: 1px solid rgba(0,0,255,1);
  border-radius: 5px;
}
