body{
    background-color: #efefef;
}

#inhoud{
    position: absolute;
    right:0px;
    padding-right:1em;
    width:70%;
}

#navigatie{
    position: fixed;
    left:0px;
    padding-left:1em;
    padding-right:0.5em;
    width:30%
}

.keyboard-key{
    color:black;
}